@media screen and (max-width: 767px) {
  /* START NAVBAR */
  #nav-bar nav {
    flex-flow: column;
  }
  #nav-bar nav > * {
    width: 100%;
    border: 0 !important;
  }
  #nav-bar nav a i[class*='icon-'],
  #nav-bar nav a i[class*='ic-'] {
    order: -1;
    margin-right: 5px;
  }
  /* END NAVBAR */

  /* START BANNER */
  #banner {
    padding-bottom: 80%;
  }
  .banner-img {
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* END BANNER */

  /* START PROJECTS */
  .projects > * {
    margin-bottom: 0;
  }
  .projects > div ~ div {
    margin-top: 30px;
  }
  .project-item .other-info {
    font-size: 14px;
  }
  .project-item .other-info > :not(.badge) {
    display: block;
    margin-top: 10px;
  }
  /* END PROJECTS */

  /* START SOCIAL */
  .socials ul {
    gap: 15px;
  }
  .socials a {
    font-size: 0;
  }
  /* END SOCIAL */

  /* START PROJECT CHARTER */
  .list-group-with-icons .list-group-item,
  .list-group-goals .list-group-item,
  .list-group-team .list-group-item,
  .list-group-timeline .list-group-item {
    grid-template-columns: 1fr;
  }

  .list-group-with-icons .icon-wrapper {
    text-align: center;
  }

  .list-group-with-icons .icon-wrapper > :not(.timeline-icon) {
    position: static;
    transform: none;
  }

  .list-group-timeline .list-group-item .icon-wrapper {
    margin-bottom: 10px;
  }
  /* END PROJECT CHARTER */
}
